.container-wallet {
  border: none;
  height: 100%;
  width: 100%;
}

.form-register-wallet {
  align-items: center;
  background-color: #ece2e2a6;
  border: none;
  box-shadow: 0 0 1px 1px;
  display: flex;
  height: 10vh;
  justify-content: center;
  margin: 3vh auto;
  overflow: auto;
  width: 99%;
}

.content-input-expenditure {
  align-items: center;
  border: none;
  display: flex;
  height: 100%;
  margin: 0 auto;
  width: 16.6%;
}

.input-value-expenditure {
  background-color: inherit;
  border: 1px solid rgb(211, 202, 202);
  border-bottom: 1px solid #161e25;
  box-sizing: border-box;
  font-size: 1.4em;
  height: 50%;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 4px;
  width: 90%;
}

.btn-add-expenditure {
  background-color: rgb(73, 63, 63);
  box-sizing: border-box;
  color: rgb(233, 223, 223);
  font-size: 1.2em;
  height: 6vh;
  width: 150px;
}

.btn-add-expenditure:focus {
  outline: none;
}
